registry=https://registry.npmmirror.com
better-sqlite3_binary_host=https://ghproxy.com/https://github.com/WiseLibs/better-sqlite3/releases/download


public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*plugin*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*types*
