<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>随便说说</title>

    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime/mini.global.js"></script>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <main>
      <nav class="flex pt-1rem pb-1rem">
        <ul class="flex-1 list-none">
          <li><a href="/">随便说说</a></li>
        </ul>
        <ul class="flex-initial list-none">
          <li><a href="/api/logout">注销</a></li>
        </ul>
      </nav>

      <div v-scope="SendMessage()" @vue:mounted="load"></div>
      <div v-scope="MessageList()" class="messages"></div>
    </main>

    <template id="sendMessageTemplate">
      <article class="border-1 shadow-lg rounded mb-2rem p-1rem">
        <header class="mb-1rem">说点啥？</header>
        <div class="mb-1rem">
          <textarea v-model="message" class="w-full p-10px border-1"></textarea>
        </div>

        <footer>
          <div class="flex justify-between">
            <div class="flex-initial">
              
            </div>
            <div class="flex-initial">
              <select v-model="messageType" class="border-1 p-0.5rem">
                <option value="text">文字</option>
                <option value="code">代码</option>
              </select>
              <button @click="send" class="border-1 p-0.5rem bg-blue color-white">保存</button>
            </div>
          </div>
        </footer>
      </article>
    </template>

    <template id="messageListTemplate">
      <div class="border-1 border-l-5 shadow-lg rounded mb-1.5rem" v-for="item in messagesStore.list" :key="item.id">
        <article class="p-1rem line">
          <div v-if="item.message_type === 'code'" style="font-size: 1.1rem" class="content code">
            <pre v-text="item.message" class="font-monospace"></pre>
          </div>
          <p v-else v-text="item.message" class="content"></p>
          <footer
            style="text-align: right; color: rgb(95, 95, 95); font-size: 0.8rem"
            v-text="item.createdTime"
          ></footer>
        </article>
      </div>

      <div style="text-align: center; font-size: 0.5rem; color: rgb(95, 95, 95)">-- 随便说说，不要当真 --</div>
    </template>

    <script type="module" src="./index.js"></script>
  </body>
</html>
