<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>随便说说</title>

    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <main>
      <nav>
        <ul>
          <li><a href="/">随便说说</a></li>
        </ul>
      </nav>

      <article id="loginForm" v-scope="LoginForm()"></article>
    </main>

    <template id="LoginFormComponent">
      <header>登录</header>
      <div class="grid">
        <div>
          <div>用户名</div>
          <div class="form-item" :class="requireUsernameAndPassword ? 'border border-danger' : ''">
            <input type="text" v-model="username" />
          </div>
        </div>
        <div>
          <div>密码</div>
          <div class="form-item" :class="requireUsernameAndPassword ? 'border border-danger' : ''">
            <input type="password" v-model="password" />
          </div>
        </div>
        <div v-if="usernameOrPasswordInvalid" class="text-danger">
          <p>账号或密码错误</p>
        </div>
      </div>
      <footer>
        <button @click="startLogin">登录</button>
      </footer>
    </template>

    <script type="module" src="./index.js"></script>
  </body>
</html>
